.slider-new .slider-main .swiper-slide {
    -webkit-background-size: cover !important;
    background-size: cover !important;
}

.slider-new .slider-main .container,
.slider-new .slider-main .row,
.slider-new .slider-main .col-lg-12 {
    height: 100%;
}

.slider-new .slider-main .slider-main-prev {
    left: 3%;
}

.slider-new .slider-main .slider-main-next {
    right: 3%;
}

.l-menu-logo {
    height: 53px;
    display: block;
    text-align: center;
    margin: 22px 0 18px;
}
.l-menu-logo img {
    display: inline-block;
    float: none;
}

/*color style*/
.l-header,
.l-footer,
.btn,
.slider-new .slider-main-pagination > span
{
    background: #016530;
}

.slider-main .slider-main-btn:before,
.slider-new .slider-main-title, .slider-new .slider-main-title-min,
.l-menu-block a:hover {
    color: #016530;
}

.photogallery-image-link {
    background: rgba(1, 101, 48, 0.8);;

}

/*оценка качества услуг*/
.l-header-quality {
    padding: 3px 10px 4px 35px;
    background-color: #3aa16b;
    border-radius: 4px;
    font-size: 14px;
    color: #ffffff;
    display: inline-block;
    position: relative;
    text-decoration: none;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.l-header-quality::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 10px;
    width: 19px;
    height: 17px;
    background: url(./bitrix/templates/creative_mibok_s2/img/icon-libre.svg) 0 0 no-repeat;
}
.l-header-quality:hover {
    opacity: .8;
    text-decoration: none;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}


.interview {
    margin-top: 30px;
}

.interview__title {
    font-size: 16px;
    color: #0e171c;
    margin: 30px 0 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.interview * {
    box-sizing: border-box;
}

.interview-item {
    margin-bottom: 20px;

}

.interview-item__title {
    margin-bottom: 14px;

}

.interview-item__body::after {
    content: '';
    clear: both;
    display: block;
}

.interview-item__body {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
}

.interview-item__rating {
    float: left;
    width: 80%;
    padding:  34px 58px;
    background-color: #f5f6fa;
}


.interview-item__value {
    width: 20%;
    float: right;
    padding:  34px 58px;
    text-align:  center;
    font-size:  14px;
    color: #3aa16b;
    background-color: #f5f6fa;
    text-transform: uppercase;
    border-left:  2px solid #fff;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.interview-item__message {
    padding: 28px 26px 24px;
    box-sizing: border-box;
    background: url(./bitrix/templates/creative_mibok_s2/img/bg-message.png) 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.interview-item__message textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 14px;
    margin-bottom: 18px;
    border: none;
    outline: none;
}

.interview-item__message span {
    color: #ffffff;
    font-size: 13px;
    text-align: left;
}

.interview-item__message .l-button {
    text-align: justify;
    font-size: 0;
}

.interview-item__message .l-button::after {
    content: '';
    display: inline-block;
    width: 100%;
}

.interview-item__message .form-btn {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    background-color: #3aa16b;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 15px;
    border: none;
    outline: none;
    font-weight: 700;
}
.interview-item__message .form-btn:hover {
    opacity: .8;
}

.interview-item__message .form-text {
    display: inline-block;
    text-align: left;
}



/* range slider */

.irs-bar, 
.irs-bar-edge {
    background: #3aa16b;
}
.irs-bar-edge {
    border-radius: 6px 0 0 6px;

}

.irs-slider {
    border-radius: 50px;
    background: #3aa16b;
    width: 18px;
    height: 18px;
}

.irs-line-mid, 
.irs-line-left, 
.irs-line-right {
    background: #d2e2d9;
    border-radius: 6px;
}


.irs-single {
    background: #3aa16b;
}

.irs-from:after, 
.irs-to:after, 
.irs-single:after {
    border-top-color: #3aa16b ;
}


/* -----------------------------------------------------------------------*/
/* ------------------------------ RESPONSIVE -----------------------------*/
/* -----------------------------------------------------------------------*/



/* --- 768px --- */
@media screen and (max-width:1030px) {
    .l-header-quality {
        position: absolute;
        top: 205%;
        left: 15px;
    }
}
@media screen and (max-width:980px) {

    .timelineLight .timeline_line {
        width:680px;
    }

    .timelineLight .t_line_view {
        width:680px;
    }

    .timelineLight .t_line_m {
        width: 338px;
    }
    .timelineLight .t_line_m.right {
        left: 339px;
        width: 339px;
    }
}


/* --- 610px --- */
@media screen and (max-width:767px) {

    .timelineLight .timeline_line {
        width:530px;
    }

    .timelineLight .t_line_view {
        width:1060px;
    }

    .timelineLight .t_line_m {
        width: 528px;
    }
    .timelineLight .t_line_m.right {
        left: 530px;
        width: 528px;
    }

    .timelineLight .t_line_node span {

    }
    .timelineLight .t_node_desc {
        font-size:8px;
    }
    .timelineLight .t_line_m.right .t_node_desc {
        right:auto;
        left:0;
    }
}


/* --- 300px --- */
@media screen and (max-width:609px) {
    .timelineLight .timeline_line {
        width:240px;
    }

    .timelineLight .t_line_view {
        width:480px;
    }

    .timelineLight .t_line_m {
        width: 238px;
    }
    .timelineLight .t_line_m.right {
        left: 240px;
        width: 238px;
    }

    .timelineLight .item_open {
        width:280px;
        height:390px;
    }
    .timelineLight .item_open img {
        max-width:280px;
    }
    .timelineLight .item_open_cwrapper {
        width:280px;
    }
}




/*event--------------------------------------*/
.event {
    margin: 20px 0;
}

.event-nav {
    padding: 18px 0;
    position: relative;
}
.event-nav__arrow {
    color: #343434;
    font-size: 14px;
    transition: all .2s ease-out;
    position: absolute;
    top: 50%;
    margin-top: -8px;
}
.event-nav__arrow:hover {
    color: #3aa16b;
    text-decoration: none;
    transition: all .2s ease-out;
}
.event-nav__arrow:hover svg{
    fill: #3aa16b;
}
.event-nav__prev .c-symbol {
    margin-right: 12px;
}
.event-nav__next .c-symbol {
    margin-left: 12px;
}
.event-nav__prev {
    left: 0;
}
.event-nav__next {
    right: 0;
}

.event-nav__title {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.event-date {
    background-color: #3aa16b;
    padding: 10px 0;
    text-align: center;
}
.event-date i {
    margin-right: 4px;
}
.event-date__number {
    font-size: 14px;
    color: #ffffff;
}
.event-content {
    background-color: #f5f6fa;
    padding: 21px;
}
.event-content::after {
    content: '';
    clear: both;
    display: block;
}
.event-content__img {
    max-width: 330px;
    float: left;
    margin-right: 25px;
}
.event-content_text p {
    color: #343434;
    margin-bottom: 22px;
    line-height: 1.1;
}

/*icons*/
.c-symbol {
    vertical-align: middle;
    display: inline-block;
    width: auto;
    cursor: pointer;
}
.c-symbol:hover {
    fill: #3aa16b;
}
.symbol-arrow-left,
.symbol-arrow-right {
    font-size: 1px;
    width: 7em;
    height: 13em;
    margin-top: -2px;
}

.icon-calendar {
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 20px;
    background: url(./bitrix/templates/creative_mibok_s2/img/icon-calendar.svg) 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.l-instructor-header-block:after, .c-title-block.c-title-block-margin:after {
    background-color: #3aa16b;
}


.events {
    margin-top: 30px;
    padding: 20px 0 20px;
    background: url(./bitrix/templates/creative_mibok_s2/img/bg-event.jpg) 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.events__title {
    font-size: 16px;
    color: #0e171c;
    text-align: center;
    /*margin: 50px 0 0;*/
    font-weight: 700;
    text-transform: uppercase;
}

.l-header-version button a {
    border: none;
    color: #ffffff;
}

.l-menu-block .active a {
    color: #3aa16b;
}

.slider-main  {
    position: relative;
}

.slider-main .slider-main-btn {
    top: 48%;
}

@media screen and (max-width: 980px) {
    .event-nav {
        padding-bottom: 35px;
    }
    .event-nav__arrow {
        top: auto;
        bottom: 6px;
        margin: 0;
    }


    .l-header-version {
        border: 3px solid #000;
        margin-left: -7px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
    }

    .l-header-version a {
        border: none;
        line-height: 1;
    }
    .l-header-version button a {
        color: #ffffff;
    }
}

@media screen and (max-width: 680px) {
    .event-content__img {
        float: none;
        margin-right: 0;
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }
    .event-content__img img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 630px) {
    .interview-item__rating,
    .interview-item__value {
        padding: 24px 28px;
    }

    .l-header-quality {
        left: 0;
        border-radius: 0;
        width: 100%;
        top: 100%;
    }

    .l-menu {
        margin-top: 15px;
    }

    .l-menu-wrapper {
        padding: 0;
    }
}
@media screen and (max-width: 560px) {
    .l-header-version {
        padding: 0;
    }
    .l-header-version > span {
        display: none;
    }

    .l-header-version button {
        text-align: center;
    }
    .l-header-version button a {
        width: 100%;
    }
}


@media screen and (max-width: 460px) {
    .interview-item__rating,
    .interview-item__value {
        float: none;
        width: 100%;
    }
    .interview-item__value {
        margin-top: 4px;
        padding: 10px;
    }

    .interview-item__message {
        padding: 20px 16px 21px;
    }

    .interview-item__message textarea {
        margin-bottom: 0;
    }

    .l-menu-logo img {
        width: 190px;
    }

    .l-header-quality::before {
        content: '';
        position: absolute;
        top: 22px;
        left: 14px;
    }

    .l-header-quality {
        left: auto;
        width: 30px;
        height: 100%;
        top: 0;
        right: 35px;
        text-indent: -999px;
    }
}